.he{
    color:coral;
}
.pa{
    color: blue;
}
.but{
    background-color:darkcyan;
}

.back-col{
    padding:100px;
    background-image:url("https://img.freepik.com/free-photo/abstract-luxury-plain-blur-grey-black-gradient-used-as-background-studio-wall-display-your-p_1258-112144.jpg");
    background-size:cover;

}

.wh{
    padding:30px;
    text-align: center;
    background-image:url("https://miro.medium.com/v2/resize:fit:1400/0*7ZxMG4CLKwmLV47I.jpg");
    height:100vh;
    background-size:cover;
}